<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Панель администартора</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<!-- HEADER -->
<header>
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="/index" id="shopName"> Онлайн магазин</a></li>
                <li><a id="userEmail" ><i class="fa fa-envelope-o"></i>User Email</a></li>
            </ul>
            <ul class="header-links pull-left">
                <li>
                <li><a id="userLogin"><i class="fa fa-user-o"></i>User Login</a></li>
            </ul>
            <a href="https://mail.ru/" class="pull-right"  >
                <i class="fa fa-shopping-cart"></i>
                <span>Корзина</span>
            </a>
        </div>
    </div>
</header>
<!-- /HEADER -->



<!-- FOOTER -->
<footer id="footer">

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container dl">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">

							<span class="copyright">
							</span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>