<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Авторизация</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/css/auth.css"/>
</head>
<body>
<div class="section">
    <div id="notification-auth"></div>
    <div class="container dl">
        <div class="login-form">
            <form id="registerForm">
                <h1>Регистрация</h1>
                <div class="content">
                    <div class="input-field">
                        <input id="registerUsername" type="text" name="username" placeholder="Логин" autocomplete="nope">
                    </div>
                    <div class="input-field">
                        <input id="registerPassword" type="password" name="password" placeholder="Пароль" autocomplete="new-password">
                    </div>
                    <div class="input-field">
                        <input id="registerName" type="text" name="name" placeholder="Имя" autocomplete="nope">
                    </div>
                    <div class="input-field">
                        <input id="registerEmail" type="text" name="email" placeholder="Почта" autocomplete="nope">
                    </div>
                    <div class="input-field">
                        <input id="registerAddress" type="text" name="address" placeholder="Адрес" autocomplete="nope">
                    </div>
                </div>
                <div class="action">
                    <button id="registerButton" type="submit">Регистрация</button>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- FOOTER -->
<footer id="footer">

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container dl">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">

							<span class="copyright">
							</span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script type="module" src="/js/register.js"></script>
</body>
</html>